﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

/*Dragging*/
.dragging {
    background-color: green !important;
    border: 3px dotted red;
}

/*en kasse rundt om drag'n'droppede billeder, så man kan markere i billederne*/
/*#image-container {
    position: absolute;
    pointer-events: none;
}

#img {
    position: relative;
}
*/

.greenbox, .redbox {
    border-radius: 1.5rem;
    width: 38rem;
    max-width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px #333 solid;
    font-size: 24px;
    text-align: center;
    line-height: 1.3em;
    /*opacity: 0;
    transition: opacity 750ms;*/
}



/* denne farve erstatter den blå markeringsfarve */
::selection {
    background: #ffff00;
    color: #000;
}



p.greenbox {
    background-color: lightgreen;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

p.redbox {
    background-color: lightcoral;
}

div .bluebox {
    background-color: rgb(26, 115, 232);
    line-height: 1.9em;
    font-size: 16px;
    border: 1px #333 solid;
    margin: 10px;
    padding: 5px;
    width: 450px
}

div .purplebox {
    background-color: rgb(213, 158, 193);
    line-height: 1.9em;
    font-size: 16px;
    border: 1px #333 solid;
    margin: 10px;
    padding: 5px;
    width: 450px
}

div .lightbluebox {
    background-color: rgb(127, 220, 252);
    line-height: 1.9em;
    font-size: 16px;
    border: 1px #333 solid;
    margin: 10px;
    padding: 5px;
    width: 450px
}

svg {
    height: 20px;
    overflow: visible;
    z-index: 1;
}

.pil {
    fill: lightgreen;
    stroke: #333;
    stroke-width: 1;
    z-index: 10;
}

.mark, mark {
    padding: 0 !important;
    background-color: yellow;
}



a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
