﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Samtalen";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf


<button onclick="NyGrundNodeKnap()" id="NyGrundNodeKnap">Ny kontekst</button>
<button onclick="window.print()">Print this page</button>
<button onclick="SletAlt()" id="SletAlt">Slet Alt</button>
<button onclick="SletSpecifik()" id="SletSpecifik">Slet denne <span id="ClickedNode">node</span></button>
<button onclick="SpmKnap()" id="SpmKnap">Giv mig et spørgsmål</button>

<div class="samtale" id="samtale">
    <!--<p class="redbox" contenteditable="true">Skriv noget her</p>-->

</div>
<input type="file" id="fileUpload" multiple />
<input type="hidden" id="__RequestVerificationToken" value="@Xsrf.GetAndStoreTokens(this.HttpContext).RequestToken" />

