﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privatlivspolitik";
}
<h1>@ViewData["Title"]</h1>

<p>Alt hvad du skriver på denne side bliver gemt i vores database. Hvis du ønsker at fjerne det igen, skal du kontakte villadsclaes@villadsclaes.dk</p>
